/* Sign-up Form CSS */

@font-face {
    font-family: 'Norse-bold';
    src: url(Norse-Bold.otf);
}

body {
    font-family: Arial, Helvetica, sans-serif;
    margin: 0;
    padding: 0;
}

#container {
    display: flex;
}

#content-left {
    background-image: url(halie-west-25xggax4bSA-unsplash.jpg);
    background-size: cover;
    width: fit-content;
}

#logo {
    display: flex;
    justify-content: center;
    align-items: center;
}

#logoimg {
 height: 11rem;
}

h1 {
    font-family: 'Norse-bold';
    color: white;
    font-size: 7rem;
}

#leftfooter {
    color: white;
}

a, a:hover, a:focus, a:active {
    color: inherit;
}